*{
margin:1px;
padding:px;}


h1{
background-color:black;
color:white;

}
h1:hover {
    border:3px,solid blue;
}


img{
height:250px;
margin-right:300px;
margin-top:30px;
float:right;

}

img:hover {
    border:5px,solid blue;

}
body{
background:red;


}